ASSET_HOST=localhost:3000
APPLICATION_HOST=localhost:3000
PORT=3000
RACK_ENV=development
RACK_MINI_PROFILER=0
SECRET_KEY_BASE=development_secret
SMTP_ADDRESS=smtp.example.com
SMTP_DOMAIN=example.com
SMTP_PASSWORD=password
SMTP_USERNAME=username
WEB_CONCURRENCY=1
COMPOSE_PROJECT_NAME=half_tone
REDIS_PASSWORD=redispass
POSTGRES_USER=half_tone
POSTGRES_PASSWORD=half_pass
POSTGRES_DB=half_tone_development
DATABASE_URL=postgres://half_tone:half_pass@postgres:5432/half_tone_development
# S3_CREDS
